<?xml version="1.0" encoding="UTF-8"?>
<datasource-mapping>
    <datasource>
        <catalog-connection-name>L10_BCLC</catalog-connection-name>
        <driver>com.mysql.jdbc.Driver</driver>
        <encrypt-sign>{{ jreport_datadb_sign }}</encrypt-sign>
        <connection-type>jdbc</connection-type>
        <url>jdbc:mysql://{{ jreport_datadb_host }}:3306/l10_bclc</url>
    </datasource>
</datasource-mapping>
