[Unit]
Description=JReport v15.6 service
After=network.target

[Service]
ExecStart=/opt/JReport/Server/bin/JRServer.sh
ExecStop=/opt/JReport/Server/bin/stopServer.sh
Restart=always
LimitNOFILE=524288

[Install]
WantedBy=multi-user.target
